*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(255, 255, 255, 0.437);
    width: 100%;
    height: 110px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    top: 0;
    z-index: 1000;

}

.logo{
    border-radius: 50%;
}

.lu{
    display: flex;
    gap: 100px;
    
}
li{
    list-style: none;
}
.aa{
    text-decoration: none;
    font-size: large;
    color: #295FA9;
    
}
.aa:hover{
    color: #1DA6DC;
}

#search{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    border: solid 1px #295FA9;
    padding-left: 10px;
}


/* Menu Burger */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  
}

.burger span {
  height: 4px;
  width: 100%;
  background: #333;
  border-radius: 4px;
  transition: 0.4s;
  margin-left: 100px;
}

/*===============================Acceuil=============================*/
.imag{
    position: absolute;
    margin-left: -30px;
    margin-top: 7px;
}
section{
    width: 100%;
    height: auto;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}


.slides{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slider{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.text{
     width: 20%;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    white-space: nowrap;
}
.text img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background:#40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #40D3DC;
}


.medcin-image{
    margin-top: 130px;
    border-radius: 300px 0 200px 0 ;
    width: 50%;
    height: 600px;
    box-shadow: #1da6dc60 -15px 20px 10px;

}

h1{
    color: #1DA6DC;
}

.num{
    display: flex;
    gap: 20px;
    align-items: center;
}


.caree{
    width: 10px;
    height: 100px;
    background-color: #1DA6DC;

}
.number{
    background-color: red;
}
.special{
    background-color: #B4911E;
}
.spe{
    background-color: #277130;
}
.name{
    color: #1DA6DC;
}
.section2{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.medcin{
    border-radius: 500px 200px 500px 200px ;
    box-shadow: #1da6dc6f 0px 0px 20px 10px;

}
.section3{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
}
.title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    
}

footer{
    width: 100wh;
    height: auto;
    background-image: linear-gradient(90deg, #295FA9 0%, #1DA6DC 100% );
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-footer{
    border-radius: 50%;

}
.medi{
    color: white;
    margin-left: 20px;
}
.content-footer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    margin-top: 30px;
    
}
.logo-medi{
    display: flex;
    align-items: center;
}
.images{
    display: flex;
    gap: 20px;
}

.ling{
    width: 80%;
    height: 1px;
    background-color: white;
    margin-top: 20px;
}
.link{
    display: flex;
    gap: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.lin{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p{
    color: white;
}
.Articles{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.Articl{
    width: 500px;
    height: 300px;
    border: solid 1px #1DA6DC;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    box-shadow:0 5px 5px rgba(128, 128, 128, 0.547) ;
}
.art{
    color: #1DA6DC;
}
.tire-arti{
    text-align: center;
    margin-top: 100px;
}

@media( max-width: 750px){

    header{
        display: flex;
        gap: 200px;
        
        
        

    }
    
    .burger {
    display: flex;
    margin-left: 0px;
  }
  .logo{
    margin-left: 50px;
  }
 
  .nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #d9d8d6e7;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    max-height: 0; 
    transition: max-height 0.5s ease;
  }

  .nav-list.active {
    max-height: 800px;
  }

  .nav-list ul {
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    gap: 15px;
    
  }
  .menu{
    
    border: solid #4044466f ;
    border-radius: 15px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list ul li a {
    font-size: 20px;
    color: #3F4447;
    padding: 10px 20px;
    border-radius: 10px;
    
    
  }

   .aa a:hover {
    background: #4445468b;
    width: 100%;
    height: 70px;
    color: white;
    transition: 0.3s ease;
    
  }
  .bb{
    background: none;
    box-shadow: none;
    
  }
  .bb:hover{
    background: none;
    box-shadow: none;
    color: #3796CC;
  }
    .medcin-image{
        display: none;
    }
    .medcin{
        display: none;
    }
    .content-footer{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .logo-medi{
        flex-wrap: wrap;
    }
    
    .ling{
        display: none;
    }
    .link{
        display:flex;
        flex-direction: column;
        gap: 20px;
    }
    .slider{
       font-size: 12px;
        
        
    }
    
    form{
        display: none;
    }
    .list-medcins{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    

}

/*====================Medcins===================*/
.equipe{
   font-size: 50px;
   color:#295FA9;
   margin-bottom: 50px;
   text-shadow: 2px 2px 5px #15b1ef6b;
   
}
.section6{
    font-family: "Bricolage Grotesque", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-optical-sizing: auto; 
    font-variation-settings: "wght" 600, "wdth" 90, "opsz" 48;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    
}
.list-medcins{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.med{
    width: 300px;
    height: 380px;
    box-shadow: 5px 2px 10px #1da6dc6e;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s;
}

.med:hover{
    transform: translateY(-10px);
    box-shadow:0 10px 20px #1DA6DC;
}
.photo{
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.495);
    margin-top: -40px;
}
 h3{
    margin-top: 20px;
    color: #295FA9;
 }
 h4{
    color: grey;
 }
 .bouton{
    width: 100px;
    height: 30px;
    background-color: #1DA6DC;
    border-radius: 5px;
    border: none;
    color:white;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 2px #40d4dc66;
 }
 /*================================rendez-vous=================================*/

 .saction7{
    display: flex;
    justify-content: center;
    

 }
 .contener{
    width: 50%;
    height: 750px;
    
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: rgba(128, 128, 128, 0.4) 5px 10px 10px;
    
    
    
 }
 .field{
    display: flex;
    flex-direction: column;
 }
 .form-card{
    display: flex;
    justify-content: center;
    
    
 }
 .field{
    display: flex;
    gap: 20px;
    margin-top: 50px;
 }
 .titre{
    background-color: #1DA6DC;
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }
 .submit{
    display:flex;
    gap:10px;
    align-items:center;
    margin-top:50px;
 }

 #fullname{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: solid 0.5px;
 }
 #email{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: solid 0.5px;
 }
 #date{
     width: 500px;
    height: 40px;
    border-radius: 5px;
    border: solid 0.5px;

 }
 #medecin{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: solid 0.5px;

 }
 .submit{
    display: flex;
    justify-content: center;
 }
 .btn{
    width: 150px;
    height: 40px;
    background-color: #1DA6DC;
    border: none;
    border-radius: 8px;
    color: white;
    box-shadow: rgba(128, 128, 128, 0.786) 0 4px 4px;
 }

 